@import "../../styles/variables";
@import "../../styles/animations";

.add-form{

  position: sticky;
  top: 20% ;

  &__wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    z-index: 1000;
    opacity: 0;

    &.entering, &.entered{
      animation: .2s ease-out showBlock forwards;
    }

    &.exiting, &.exited{
      animation: .2s ease-out hideBlock forwards;
    }
  }

  &__fieldset-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  &__title{
    font-family: $mainFont;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 0px 0px 50px #000000;
  }

  fieldset{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
  }

  &__textarea{
    font-family: $mainFont;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;

    &:focus{
      outline: 1px solid $mainColor;
    }
  }

  &__notification{
    font-family: $mainFont;
    font-size: 20px;
    color: $accentColor;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__button{
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $mainColor;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: .2s ease-out;

    &:hover, &:focus{
      background-color: $accentColor;
    }

    &:focus{
      outline: 2px solid #000000;
    }
  }
}

@media screen and (max-width: 400px) {
  .add-form{
    &__title{
      text-align: center;
    }
    &__fieldset-wrapper{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}