@import "../../styles/variables";

.todo-item{
  font-family: $mainFont;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;

  &:hover &__close, &:focus &__close{
    opacity: .8;
  }

  &:hover, &:focus{
    outline: 2px solid $mainColor;
  }

  &:last-child{
    margin-bottom: 0;
  }

  input:checked + label > &__wrapper > &__checkbox{
    background-image: url("./img/check.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  input:checked + label > &__wrapper > &__text{
    text-decoration: line-through;
  }

  label{
    display: block;
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  input{
    display: none;
  }

  &__checkbox{
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #000;
  }

  &__text{
    line-height: 20px;
    word-break: break-all;
  }

  &__date{
    margin: 0;
    text-align: right;
  }

  &__close{
    height: 25px;
    width: 25px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border: none;
    opacity: 0;
    cursor: pointer;

    &:focus{
      opacity: .8;
      outline: 2px solid $mainColor;
    }
    &:hover, &:focus{
      &:before, &:after{
        background-color: $accentColor;
      }
    }

    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 15px;
      background-color: #000000;
      top: 25%;
      left: 40%;
      transition: .1s ease-out;
    }

    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}