@import "../../styles/variables";

.todo-item{
  font-family: $mainFont;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;

  &:hover &__close{
  opacity: .8;
}

  &:last-child{
    margin-bottom: 0;
  }

  input:checked + label > &__wrapper > &__checkbox{
    background-image: url("./img/check.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  input:checked + label > &__wrapper > &__text{
    text-decoration: line-through;
  }

  label{
    cursor: pointer;
    padding: 10px;
    padding-bottom: 5px;
    display: block;
  }

  &__wrapper{
  }

  input{
    display: none;
  }

  &__checkbox{
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 10px;
    float: left;
  }

  &__text{
    line-height: 20px;
    word-break: break-all;
  }

  &__date{
    margin: 0;
    text-align: right;
  }

  &__close{
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;

    &:before{
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 15px;
      background-color: #000000;
      transform: rotate(45deg);
      top: 25%;
      left: 40%;
    }
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 15px;
      background-color: #000000;
      transform: rotate(-45deg);
      top: 25%;
      left: 40%;
    }
  }

}