@import "../../styles/variables";

.todo-categories{
  position: relative;
  max-width: 350px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;

  &__item{
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: .1s ease-out;


    &:hover, &:focus{
      background-color: #5162bf;
      color: #fff;

      & .todo-categories__icon{
        fill: white;
      }
    }

    &:hover{
      border-bottom: #5162bf;
    }
    &:focus{
      outline: none;
      border: 2px solid #000;
    }

    &.active{
      background-color: $accentColor;
      color: #fff;
      border-bottom: $accentColor;

      & .todo-categories__icon{
        fill: white;
      }
      &:focus{
        border: 2px solid #000;
      }
    }
  }
  
  &__wrapper{
    position: sticky;
    top: 0;
  }

  &__icon{
    width: 30px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}